<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="quote">
        <q><%=@quote.text%></q>
      </h1>
      <h2 class="author">
       <%= @quote.author %>
      </h2>
      <div class="button-container">
        <%= another_quote_button %>
      </div>
    </div>
  </div>
</section>
