<section class="hero is-fullheight is-gapless bg">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="buttons is-centered button-container">
        <%= link_to "Get a Quote", quotes_random_path, class: "button is-large" %>
      </div>
    </div>
  </div>
</section>
